<nav class="blue darken-3">
  <div class="container">
    <div class="nav-wrapper">
      {{#if (equal session.email "admin@admin.com")}}
        <a href="/userdetail" class="brand-logo center">Call System</a>
        {{else}}
        <a href="/dashboard" class="brand-logo center">Call System</a>
      {{/if}}
      
      {{#if session.email}}
       <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      {{/if}}
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if session.email}}
       {{#if (equal session.email "admin@admin.com")}}
        <li><a href="/userdetail">Welcome Admin</a></li>
        {{else}}
        <li><a href="/dashboard">Welcome to {{session.restaurant}}</a></li>
        {{/if}}
        <li><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="side-nav" id="main-menu">
        <li class="divider"></li>
        {{#if (equal session.email "admin@admin.com")}}
    
        <li><a href="/createuser"><i class="fa fa-cogs"></i> Creat User </a></li>
        <li><a href="/restpwd"><i class="fa fa-repeat"></i> Reset Password all User</a></li>
        <li><a href="/deluser"> <i class="fa fa-trash-o"></i>  Delete User </a></li>
        <li><a href="/updtable"> <i class="fa fa-plus-square"></i>  Add/Delete Table </a></li>
        <li><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout </a></li>
        {{else}}
        <li><a href="/dashboard"> <i class="fa fa-bar-chart"></i>  Dashboard </a></li>
        <li><a href="/setup"><i class="fa fa-cog"></i> Setup Tables </a></li>
        <li><a href="/restpwd"><i class="fa fa-repeat"></i> Change Password </a></li>
        
        <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">History Data<i class="fa fa-history"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="/history">Download </a></li>
                <li><a href="#!">Daily</a></li>
                <li><a href="#!">Weekly</a></li>
                <li><a href="#!">Monthly</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout </a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>