<h1>About</h1>
<p>Version 1.0.0</p>
<p>Call System is an app for restaurants. We can monitor customer wait time notify the waiters and prepeare metrics.This is complete solution for your restaurant.</p>