<center>
    <h3 class="gen-h1">Cancel Calls</h3>
</center>
<div class="row">
    <form action="/api/cancel" method="post" class="col s12" id="formfield">
        <div class="input-field col s12">
            <select name="call">
                <option value="" disabled selected>Select Open Call</option>
                {{#each call_no}}
                <option value="{{this.tid}}">Table No: {{this.tid}} Wait Time: {{this.wait_time}} </option>
                {{/each}}
            </select>
            <label class="blue-text text-darken-2"><b>Table No</b></label>
        </div>
        <a href="#md1" class="waves-effect waves-red btn green accent-4 z-depth-3 modal-trigger"> Cancel </a>
    </form>
</div>

<div id="md1" class="modal">
    <div class="modal-content">
        <h4>Please Confirm</h4>
        <p>Are you sure to proceed?</p>
    </div>
    <div class="modal-footer">
        <a href="#" id="submit_cancel" class="modal-close waves-effect waves-red btn-flat">
            Yes </a>
        <a href="#" class="modal-close waves-effect waves-red btn green accent-4 z-depth-3">No</a>
    </div>
</div>