<h1>Create User</h1>
<div class="row">
  <form action="/users" method="post" class="col s12">
    <div class="row">
      <div class="input-field" >
        <input type="text" name="email">
        <label for="email">Email Id or User Id</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field" >
        <input type="password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
        <div class="row">
      <div class="input-field" >
        <input type="text" name="restaurant">
        <label for="restaurant">Restaurant</label>
      </div>
    </div>
    </div>
        <div class="row">
      <div class="input-field" >
        <input type="text" name="table">
        <label for="table">No of Tables</label>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn">
  </form>
</div>