<div class="navbar-fixed ">
<nav class="black z-depth-0" id="header">
      <ul class="section table-of-contents">
        <li ><a href="#Home" id="h1">Home</a></li>
        <li><a href="#Product"   id="h2">Product</a></li>
        <li><a href="#Customers"  id="h3">Benefits</a></li>
        <li><a href="#Contact"  id="h4">Contact us</a></li>
        <li class="hide-on-small-only"><a href="#Login" onclick="$('.tap-target').tapTarget('open')" id="h5">Customer Login</a></li>
      </ul>
  </nav>
</div>

<div class="tap-target white black-text" data-activates="menu">
  <div class="tap-target-content ">
      <h5>Welcome Customer!</h5>
      <p>Please Login using your User Id and Password.</p>
  </div>
</div>


<div class="fixed-action-btn">
    <a id="menu" class="btn-floating waves-effect waves-light btn-large black pulse scale-transition" href="/login">
    <i class="material-icons">account_circle</i>
    </a>
</div>

<div class="section scrollspy" id="Home">
    <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="../images/home.jpg">
        <div class="caption left-align">
          <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">Welcome to Service Call Plus!</h4>
          <h7 class="white-text text-darken-3">We respect Customer Time.</h7>
          </div>
        </div>
      </li>
      <li>
        <img src="../images/home3.jpg">
        <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">Do you have customers Waiting for service?</h4>
          <h7 class="white-text text-darken-3">We provide Solution.</h7>
        </div>
        </div>
      </li>
      <li>
        <img src="../images/home1.jpg">
        <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">We notify restarurant attendant real time.</h4>
          <h7 class="white-text text-darken-3">Smart Watch Solution.</h7>
        </div>
        </div>
      </li>
      <li>
        <img src="../images/home2.jpg"> 
        <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">We monitor the wait for customer.</h4>
          <h7 class="white-text text-darken-3">Inovative IOT Solution.</h7>
        </div>
        </div>
      </li>
      <li>
        <img src="../images/home4.jpg"> 
        <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">We help to improve customer satisfaction.</h4>
          <h7 class="white-text text-darken-3">Service Call Plus!</h7>
        </div>
        </div>
      </li>
    </ul>
    </div>
</div>

<div class="secondary-content">
<ul id="product-header">
<li>
<div class="container" >
<div class="row subheader">
            <h5>Product</h5>
</div>
</div>
<br></br>
<div class="row black scrollspy" id="Product">
<div class="col s12 m6 l6 ">
<div class="carousel carousel-slider center">
    <a class="carousel-item" href="#one!"><img src="../images/home.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../images/home.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../images/home.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../images/home.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../images/home.jpg"></a>
</div>
</div>
<div class="col s12 m6 l6 valign-wrapper">
    <blockquote>
Introducing Service Call Plus - Transforming your restaurant service for optimal customer satisfaction and effective resource management
  <br></br>
Service Call Plus assists both customers and restaurant entrepreneurs to provide a seamless service by implementing the latest technologies available. Customers receives impromptu service, while restaurant owners manage their resources and business effectively. Say goodbyes to long wait times, and usher a new experience in dining. For more details contact us.
    </blockquote>
</div>
</div>
</li>
</ul>



<div >
<ul id="customers-header">
<li>
    <div class="container" >
    <div class="row subheader">
            <h5>Why to Choose us? </h5>
    </div>
    </div>
</li>
</ul>
<br></br>
<div class="row scrollspy" id="Customers">
<div class="col s6 m4 l4">
<ul id="customers1-header">
<li>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../images/benefit.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Customer Satisfaction</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Customer Satisfaction</span>
      <p>Reduced wait times aids in faster service with Service Call Plus. Customers enjoy more quality time spend with their loved ones in the restaurants instead of waiting in queues for their favorite delicacies to be served.</p>
    </div>
</div>
</li>
</ul>
</div>


<div class="col s6 m4 l4">
<ul id="customers2-header">
<li>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../images/benefit1.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Affordable Solution</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Affordable Solution</span>
      <p>Service Call Plus integrates the top notch technologies to bring out the best in customer and restaurant management practices, all at extremely affordable prices. Contact us for more details.</p>
    </div>
</div>
</li>
</ul>
</div>

<div class="col s6 offset-s3 m4 l4">
<ul id="customers3-header">
<li>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../images/benefit2.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Global Monitoring</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Global Monitoring</span>
      <p>For the restaurant owners, Service Call Plus showcases an unique dashboard which provides daily, monthly and yearly details of the restaurant's resources, thereby helping the owners track progress and run their business effectively, irrespective of their location.</p>
    </div>
</div>
</li>
</ul>
</div>

</div>
</div>


<footer class="page-footer black" >
  <div class="container">
    <div class="row scrollspy" id="Contact">
      <div class="col l12 s12">
          <center>
        <h5 class="white-text">Contact Us</h5>
        <p class="white-text text-lighten-4">Thank you for using Service Call Plus! Please give complete reason to reach us so that we can provide quick and efficient service. If any urgent matter please contact Customer Support</p>
        <p>U.S : +1 201 777 1595</p>
        <p>Email ID: info@servicecallplus.com</p>
        <p>Web Site : www.servicecallplus.com</p>
        <a href="mailto:info@servicecallplus.com">Contact us!</a>
        <br></br>
        <br></br>
        </center>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Service Call Plus
    </div>
  </div>
</div>

