<!-- Section: Nav Bar -->
<div class="navbar-fixed">
	<nav class="black" id="header">
		<div class="container">
			<div class="nav-wrapper"></div>
			<a href="#" class="brand-logo center">ServiceCallPlus</a>
		</div>
	</nav>
</div>


<div class="container center">
	<div class="preloader-background">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="main">
		<h1></h1>
		<h1></h1>
		<h1></h1>
		<h1></h1>
		<h1></h1>
		<h1></h1>


		<div class="row center">
			<h1>Thank you!!</h1>

			<span>We will get back to your query.
			</span>
			<br></br>
			<a href="/" class="waves-effect waves-light btn-large black">Return to Home page. <i class="fa fa-home"></i></a>
		</div>

	</div>