<!-- Section: Nav Bar -->
<div class="navbar-fixed">
  <nav class="black" id="header">
    <div class="container">
      <div class="nav-wrapper"></div>
      <a href="/" class="brand-logo center">ServiceCallPlus</a>
    </div>
  </nav>
</div>

<!-- Section: Customer Login -->
<div class="tap-target white black-text" data-activates="menu">
  <div class="tap-target-content ">
    <h5>Welcome Customer!</h5>
    <p>Please Login using your User Id and Password.</p>
  </div>
</div>
<div class="fixed-action-btn">
  <a id="menu" class="btn-floating waves-effect waves-light btn-large black pulse scale-transition" href="/login">
    <i class="material-icons">account_circle</i>
  </a>
</div>

<!-- Section: Slider -->
<section class="slider fullscreen" id="Home">
  <ul class="slides">
    <li>
      <img src="../images/home.jpg">
      <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">Welcome to Service Call Plus!</h4>
          <h7 class="white-text text-darken-3 hide-on-small-only">We help to improve customer service.</h7>
        </div>
      </div>
    </li>
    <li>
      <img src="../images/home3.jpg">
      <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">Do you have customers Waiting for service?</h4>
          <h7 class="white-text text-darken-3 hide-on-small-only">We provide Solution.</h7>
        </div>
      </div>
    </li>
    <li>
      <img src="../images/home1.jpg">
      <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">We notify restarurant attendant real time.</h4>
          <h7 class="white-text text-darken-3 hide-on-small-only">Smart Watch Solution.</h7>
        </div>
      </div>
    </li>
    <li>
      <img src="../images/home2.jpg">
      <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">We monitor the wait for customer.</h4>
          <h7 class="white-text text-darken-3 hide-on-small-only">Inovative IOT Solution.</h7>
        </div>
      </div>
    </li>
    <li>
      <img src="../images/home4.jpg">
      <div class="caption left-align">
        <div class="card-content col s6 l4 translucent">
          <h4 class="white-text text-darken-3">We help to improve customer satisfaction.</h4>
          <h7 class="white-text text-darken-3 hide-on-small-only">Service Call Plus!</h7>
        </div>
      </div>
    </li>
  </ul>
</section>

<div class="secondary-content">
  <!-- Section: Solution-->
  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="black-text">Product</span></h4>
        <div class="col s12 m6">
          <img class="materialboxed responsive-img circle" src="../images/product_main.jpg">
        </div>
        <div class="col s12 m6">
          <blockquote>
            Introducing Service Call Plus - Transforming your restaurant service for optimal customer satisfaction and
            effective resource management.
            <br></br>
            Service Call Plus assists both customers and restaurant entrepreneurs to provide a seamless service by
            implementing the latest technologies available. Customers receives imprompt service, while restaurant
            owners manage their resources and business effectively. Say goodbyes to long wait times, and usher a new
            experience in dining.
            <br></br>
            <a href="/product" class="btn black-text translucent"><b>Learn more. <i class="fa fa-book"></i></b></a>
          </blockquote>
        </div>
        <div class="row">
          <div class="col s12 center">
            <h1></h1>
          </div>
          <div class="col s12 center">
            <a href="#contact" class="btn btn-large black darken-3">
              <i class="material-icons left">send</i> Contact for free Consultation
            </a>
          </div>
        </div>
      </div>
  </section>

  <!-- Section: Banner-->
  <section class="section section-developers white-text">
    <div class="primary-overlay valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <p>We believe in ...</p>
            <h3>Efficiency leads to Excellence.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Benifits-->
  <section class="section center">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="blue-text darken-3">Our</span> Value Add</h4>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../images/benefit.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Customer Satisfaction</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Customer
                Satisfaction</span>
              <p>Reduced wait times aids in faster service with Service Call Plus. Customers enjoy more quality time
                spend with their loved ones in the restaurants instead of waiting in queues for their favorite
                delicacies to be served.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../images/benefit4.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Optimize Table Utilization</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Optimize Table
                Utilization</span>
              <p>Service Call Plus helps to improve the efficiency of servers, which in turn helps to optimize table
                utilization. It helps to speed up the service, reduces the wait time and improves the efficiency of
                every employee.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../images/benefit1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Affordable Solution</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Affordable
                Solution</span>
              <p>Service Call Plus integrates the top notch technologies to bring out the best in customer and
                restaurant management practices, all at extremely affordable prices.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../images/benefit2.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Global Monitoring</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Global
                Monitoring</span>
              <p>For the restaurant owners, Service Call Plus showcases an unique dashboard which provides daily,
                monthly and yearly details of the restaurant's resources, thereby helping the owners track progress and
                run their business effectively, irrespective of their location.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Gallery -->
  <section id="gallery" class="section section-gallery scrollspy">
    <div class="container">
      <h4 class="center">
        <span class="blue-text darken-3">Product</span> Selfie</h4>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product1.jpg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product2.jpg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product3.jpg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product4.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product5.jpg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product6.jpg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product7.jpg" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="../images/product8.jpg" alt="">
        </div>
      </div>

  </section>

  <!-- Section: Pricing -->
  <section class="section  lighten-3">
    <div class="container">
      <h4 class="center black-text">
        Pricing Model</h4>
      <div class="row">
        <br>
        <br>
        <!-- Row 1 -->
        <div class="row">
          <div class="col s12 m6 black-text">
            <h5>
              <i class="fa fa-cogs"></i> Initial Installation
            </h5>
            <p>
              This includes:<br>
              <i class="fa fa-circle"></i> Service Call Plus Device for each tables.
              <br>
              <i class="fa fa-circle"></i> Service Call Plus Smart Watch for each attendant.
              <br>
              <i class="fa fa-circle"></i> Service Call Plus IOT device (One per restarurant).
              <br>
              Only $1500 for initial setup.
              <br>
              <br>
              <em>Tax will be charged on the above fee.</em>
            </p>
          </div>
          <div class="col s12 m6 black-text ">
            <h5>
              <i class="fa fa-repeat"></i> Monthly Charges
            </h5>
            <p>
              <br>
              Our monthly service includes imprompt customer service and support for any technical or hardware related
              issues. Please call up our sales team for pricing details.
              <br>
              <br>
              <br>
              <em>We provide free replacement for operational wear outs.</em>
            </p>
          </div>
        </div>
  </section>


  <!-- Section: Customer FeedBack -->
  <section id="popular" class="section ">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="black-text">Customer FeedBack</span></h4>
        <div class="col s12">
          <p class=" black-text center"><em>"Our employee are more satisfied now, this really made their work easy. For
              managers this is blessing. <i class="fa fa-smile-o"></i> "
              <br>
              ..........................
              <br>
              "Service Call Plus helped to improve our customer surveys."
              <br>
              ..........................
              <br>
              "Service Call Plus increases 20% table yield. Great value for money. "
            </em>
          </p>
        </div>


      </div>
  </section>



  <div class="container" id="contact">
    <br><br>
  </div>
  <!-- Section: Contact -->
  <section class="section section-contact">
    <div class="container ">
      <div class="row ">
        <div class="col s12 m6">
          <div class="card-panel black white-text center ">
            <i class="material-icons medium">email</i>
            <p class="white-text text-lighten-4">Thank you for using Service Call Plus! Please give complete reason to
              reach us so that we can provide quick and efficient service. If any urgent matter please contact Customer
              Support</p>
            <p>U.S : +1 201 777 1595</p>
            <p>Email ID: info@servicecallplus.com</p>
            <p>Web Site : www.servicecallplus.com</p>
            <a href="mailto:info@servicecallplus.com">Contact us!</a>
            <br></br>
            <br></br>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-panel grey lighten-3">
            <form action="/api/sendmail" method="post">
              <h5>Please fill out this form</h5>
              <div class="input-field" id="contact1">
                <input type="text" placeholder="Name" name="name" required="" aria-required="true">
                <label for="name">Name</label>
              </div>
              <div class="input-field">
                <input type="email" placeholder="Email" name="email" class="validate" required="" aria-required="true">
                <label for="email">Email</label>
              </div>
              <div class="input-field">
                <input type="text" placeholder="Phone" name="phone" required="" aria-required="true">
                <label for="phone">Phone</label>
              </div>
              <div class="input-field">
                <textarea class="materialize-textarea" placeholder="Enter Message" name="message" required=""
                  aria-required="true"></textarea>
                <label for="message">Message</label>
              </div>
              <input type="submit" value="Submit" class="btn black">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Section: Google Map -->


  <footer class="page-footer black">
    <div class="container">
      <div class="row scrollspy">
        <div class="col l12 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Service Call Plus
      </div>
    </div>


</div>