<!-- Section: Nav Bar -->
<div class="navbar-fixed">
  <nav class="black" id="header">
    <div class="container">
      <div class="nav-wrapper"></div>
      <a href="#" class="brand-logo center">ServiceCallPlus</a>
    </div>
  </nav>
</div>

<!-- Showcase -->
<div class="showcase container">
  <div class="row">
    <div class="col s12 m10 offset-m1 center">
      <h5>Welcome To Quazzu</h5>
      <h1>Cloud Solutions</h1>
    </div>
  </div>
</div>

<!-- Section: Solutions About -->
<section class="section section-solutions-about">
  <div class="container">
    <div class="row">
      <h4 class="center">Business Problem</h4>
      <div class="col s12 m5">

        <p>
          <i class="fa fa-dot-circle-o"></i> Customer walks into your restaurant.<br>
          <i class="fa fa-dot-circle-o"></i> The attendant assigns him a seat.<br>
          <i class="fa fa-dot-circle-o"></i> He is going through the menu.<br>
          <i class="fa fa-dot-circle-o"></i> Attendant meanwhile trying to help other customers.<br>
          <i class="fa fa-dot-circle-o"></i> Customer is now ready to order but he cant find attendant.<br>
        </p>
      </div>
      <div class="col s12 m6 offset-m1">
        <div class="row">
          <div class="col s12">
            <ul class="tabs transparent">
              <li class="tab col s4">
                <a href="#tab1" class="purple-text">Customer</a>
              </li>
              <li class="tab col s4">
                <a href="#tab2" class="purple-text">Attendant</a>
              </li>
              <li class="tab col s4">
                <a href="#tab3" class="purple-text">Manager</a>
              </li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <h5>Customer</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt cupiditate aspernatur aliquam nobis
              dolorum
              quae assumenda nemo necessitatibus voluptates deserunt!</p>
          </div>
          <div id="tab2" class="col s12">
            <h5>Attendant</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, perferendis officia itaque necessitatibus
              et
              debitis non eveniet libero quaerat corporis, dignissimos quasi, voluptates sed minus eum pariatur tempore
              temporibus. Numquam.</p>
          </div>
          <div id="tab3" class="col s12">
            <h5>Manager</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat, dolore blanditiis commodi velit
              dignissimos
              corporis quas modi qui, unde quasi iusto facilis quis in voluptatem neque aut cumque aliquid.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>