<!-- Section: Nav Bar -->
<div class="navbar-fixed">
  <nav class="black" id="header">
    <div class="container">
      <div class="nav-wrapper"></div>
      <a href="/" class="brand-logo center">ServiceCallPlus</a>
    </div>
  </nav>
</div>


<!-- Section: Solutions About -->
<section class="section section-solutions-about">
  <div class="container">
    <div class="row">
      <h4 class="center">Challenges in Restaurant</h4>
      <div class="col s12 m5">
        <h5>Busy Day ...</h5>
        <p>
          <i class="fa fa-circle"></i> Customer walks into your restaurant.<br>
          <i class="fa fa-circle"></i> The attendant assigns him a seat.<br>
          <i class="fa fa-circle"></i> He is going through the menu.<br>
          <i class="fa fa-circle"></i> Attendant meanwhile trying to help other customers.<br>
          <i class="fa fa-circle"></i> Customer is now ready to order but he can't find attendant.<br>
          <i class="fa fa-circle"></i> Cutomer might also want to place additional order/request for drink/pay bill.<br>
        </p>
      </div>
      <div class="col s12 m6 offset-m1">
        <div class="row">
          <div class="col s12">
            <ul class="tabs transparent">
              <li class="tab col s4">
                <a href="#tab1" class="purple-text">Customer</a>
              </li>
              <li class="tab col s4">
                <a href="#tab2" class="purple-text">Attendant</a>
              </li>
              <li class="tab col s4">
                <a href="#tab3" class="purple-text">Manager</a>
              </li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <h5>Customer</h5>
            <p>
              <i class="fa fa-circle"></i> Customer is hungry and looking for quick service.<br>
              <i class="fa fa-circle"></i> Customer dont know how to call attendant.<br>
              <i class="fa fa-circle"></i> Customer is frustrated and wants to walk towards the attendant.<br>
              <i class="fa fa-circle"></i> Customer is thinking to skip order.<br>
              <i class="fa fa-circle"></i> Customer might just need water.<br>
            </p>
          </div>
          <div id="tab2" class="col s12">
            <h5>Attendant</h5>
            <p>
              <i class="fa fa-circle"></i> Attendant is not aware customer is waiting for service.<br>
              <i class="fa fa-circle"></i> Attendant might be attending a customer who is not yet ready.<br>
              <i class="fa fa-circle"></i> Attendant might not known customer is ready to pay bill.<br>
              <i class="fa fa-circle"></i> Attendant is not aware customer might be frustrated.<br>
            </p>
          </div>
          <div id="tab3" class="col s12">
            <h5>Manager</h5>
            <i class="fa fa-circle"></i> Manager is not aware customer is waiting for service.<br>
            <i class="fa fa-circle"></i> Manager is not aware customer is waiting for bill payment.<br>
            <i class="fa fa-circle"></i> Manager is not aware customer is dissatisfied.<br>
            <i class="fa fa-circle"></i> Manager is not able to optimize table utilization.<br>
            <i class="fa fa-circle"></i> Manager is not able to manage the attendants efficiently.<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Problem -->
<section class="section section-problem white-text">
  <div class="primary-overlay valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 translucent">
          <h4>
            <ul>Revenue Impact</ul>
          </h4>
          <p><i class="fa fa-hand-o-right"></i> Customer not ordering additional food due to wait time also leads to
            revenue
            loss for a restaurant.<br><br>
            <i class="fa fa-hand-o-right"></i> As per the statistics, If a customer waits for something for more than 6
            Min then it is highly unlikely for him to return.<br><br>
            <i class="fa fa-hand-o-right"></i> In today's competetive world customer satisfaction is the game changer
            for restaurant.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Solution-->
<section class="section ">
  <div class="container">
    <div class="row">
      <h4 class="center">
        <span class="black-text">Our Solution</span></h4>
      <div class="col s12 m6">
        <img class="responsive-img" src="../images/product_page1.jpg">
      </div>
      <div class="col s12 m6">
        <p>
          <i class="fa fa-circle"></i> Each table will have Service Call Plus device.<br>
          <i class="fa fa-circle"></i> In case customer needs service he/she can make appropriate selections like
          Call/Drink/Bill.<br>
          <i class="fa fa-circle"></i> Each Attendant will have a Service Call Plus smart watch.<br>
          <i class="fa fa-circle"></i> Real Time Notification is send to attendant's watch with the nature of the
          request.<br>
          <i class="fa fa-circle"></i> Attendant can quickly serve the customer.<br>
          <i class="fa fa-circle"></i> At the end both customer and attendant are happy.<br>
        </p>
      </div>

    </div>
  </div>
</section>

<!-- Section: Features  -->
<section class="section">
  <div class="container">
    <h4 class="black-text center">Features</h4>
    <br>
    <br>
    <!-- Row 1 -->
    <div class="row">
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-phone"></i> CALL
        </h5>
        <p>Now you dont have to yell to get server's attention. Give the server immediate feedback. Record the time,
          date and request also tell the server what table to attend.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-glass"></i> DRINK
        </h5>
        <p>Responsive paid refills grows revenue. Server knows drink are request, so he can be ready with drink menu.
          Customer is confident they are valued also gives managment a great report on the drinks.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-money"></i> BILL
        </h5>
        <p>Few things upset people more than waiting to pay for their bill also table turnover is key. Busser can know
          exactly when a table is clear. Management gets a key metrics on turn-over.</p>
      </div>
    </div>
  </div>
</section>


<!-- Section: Attendant-->
<section class="section ">
  <div class="container">
    <div class="row">
      <h4 class="center">
        <span class="black-text">Attendant's Watch</span></h4>

      <div class="col s12 m6">
        <p>
          <i class="fa fa-circle"></i> Real time notification for open call.<br>
          <i class="fa fa-circle"></i> Know the exact table no which has open call.<br>
          <i class="fa fa-circle"></i> Know the type of request call/drink/bill.<br>
          <i class="fa fa-circle"></i> Managing table is easy now.<br>
          <i class="fa fa-circle"></i> Increase in tip percent for efficient service.<br>
        </p>
      </div>
      <div class="col s12 m6">
        <img class="responsive-img" src="../images/product_page3.jpg">
      </div>

    </div>
  </div>
</section>

<!-- Section: Manager -->
<section class="section ">
  <div class="container">
    <div class="row">
      <h4 class="center">
        <span class="black-text">Manager's Dashboard</span></h4>
      <div class="col s12 m6">
        <img class="responsive-img" src="../images/product_page2.jpg">
      </div>
      <div class="col s12 m6">
        <p>
          <i class="fa fa-circle"></i> Manager's gets a dashboard where he can monitor open requests.<br>
          <i class="fa fa-circle"></i> He can see wait time for each request/type of request/assigned attendant
          and lot
          more.<br>
          <i class="fa fa-circle"></i> We even archive the wait time for each request which is used for analytics
          purpose.<br>
          <i class="fa fa-circle"></i> We provide sophisticated Daily/Weekly/Monthly analytics chart to pin point
          the actual issue for long wait time and maintain quality control.<br>
        </p>
      </div>

    </div>
  </div>
</section>

<!-- Problem -->
<section class="section section-problem white-text">
  <div class="primary-overlay valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 translucent">
          <h4>
            <ul>We Guarantee to ... </ul>
          </h4>
          <p><i class="fa fa-hand-o-right"></i> Improve Customer Satisfaction.<br><br>
            <i class="fa fa-hand-o-right"></i> Optimize Table Utilization.<br><br>
            <i class="fa fa-hand-o-right"></i> Make things easy for your employees/managers.<br><br>
            <i class="fa fa-hand-o-right"></i> Improve your Revenue.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section: Technology -->
<section class="section grey lighten-3">
  <div class="container">
    <h4 class="purple-text text-darken-1 center">Technology & Innovative</h4>
    <h6 class="grey-text text-darken-2 center">Efficiency leads to Excellence.</h6>
    <br>
    <br>
    <!-- Row 1 -->
    <div class="row">
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-cloud"></i> Cloud Solution
        </h5>
        <p>Our application is completly hosted in cloud, so its reliable , efficienct and fast. We are using all the
          adavantages of Cloud appplication to server our customers more efficiently.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-spinner"></i> IOT Inovation
        </h5>
        <p>IOT solution used in our application is completly new and unique which helps us to provide an affordable
          solution for our customers. This is first time ever this technology is used to provide such solution.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-line-chart"></i> Data Analytics
        </h5>
        <p>We are using the latest technology to analyze the history data. With our solution you can easily pin point
          the actual reason for long wait time.</p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <div class="col s12 offset-m4 m4">
        <h5>
          <i class="fa fa-clock-o"></i> Smart Watch
        </h5>
        <p> Service Call Plus smart watch are configured with the latest technology to notify the attendant real time.</p>
      </div>
    </div>
    <div class="center">

      <h5>
        <span class="deep-purple-text text-lighten-1">Have a question? </span> Contact our sales team
      </h5>
      <a href="/#contact" class="btn btn-large grey"><i class="fa fa-share"></i> Contact</a>
    </div>
  </div>
</section>



<footer class="page-footer black">
  <div class="container">
    <div class="row scrollspy">
      <div class="col l12 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Service Call Plus
    </div>
  </div>