<h3>Reset Password</h3>
<div class="row">
  <form action="/users/resetpwd" method="post" class="col s12">
    <div class="row">
      <div class="input-field" >
        <input type="text" name="email">
        <label for="email">Email Id or User Id</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field" >
        <input type="password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field" >
        <input type="password" name="password1">
        <label for="password1">Retype Password</label>
      </div>
    </div>
    <input type="submit" value="Reset" class="btn">
  </form>
</div>