<center><h3 class="gen-h1" >Setup Table</h3></center>
<div class="row">
  <form action="/api/waiter/update" method="post" class="col s12">
{{#each table}}
    <div class="row">
    <div class="input-field" >
        <input type="text" name="{{this}}">
        <label for="{{this}}" class="blue-text text-darken-2"><i class="fa fa-table"></i>  <b>{{this}}</b></label>
      </div>
    </div>  
{{/each}}
    <input type="submit" value="Submit" class="btn green accent-4 z-depth-3">
  </form>
</div>
  </body>
</html>