<h3>Active Users for Call System </h3>
<div class="row">
<table class="responsive-table">
        <thead class="card-panel green">
          <tr>
              <th>User Name </th>
              <th>Restaurant Name</th>
          </tr>
        </thead>

        <tbody>
{{#each users}}
          <tr class="card-panel yellow lighten-5">
            <td>{{this.email}}</td>
            <td>{{this.restaurant}}</td>
          </tr>
{{/each}}
        </tbody>
      </table>
</div>
</html>